@model AspDotNetCoreMVCExample.Models.Student
<div>

    <div class="form-group">
        <label asp-for="Name" class="col-md-2"></label>
        <input asp-for="Name" class="form-control" readonly />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Age" class="col-md-2"></label>
        <input asp-for="Age" class="form-control" readonly />
        <span asp-validation-for="Age" class="text-danger" ></span>
    </div>
    <div class="form-group">
        <label asp-for="Mobile" class="col-md-2"></label>
        <input asp-for="Mobile" class="form-control" readonly />
        <span asp-validation-for="Mobile" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="col-md-2"></label>
        <input asp-for="Email" class="form-control" readonly />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Gender" class="col-md-2"></label>
        <input asp-for="Gender" class="form-control" readonly />
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div><br />
    <div class="form-group">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
        <a asp-action="Index" class="btn btn-info">Back To List</a>
    </div>
    
</div>